<div class="d-flex">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati a
        autem expedita, laborum alias nulla? Nesciunt, provident illo? Sapiente
        possimus ex impedit facere, fugit dolore laborum repellendus voluptate
        enim repudiandae.
      </div>
    </div>
  </div>
</div>
